[project]
name = "colrev.get_doi_from_urls"
description = "CoLRev package for get_doi_from_urls"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/get_doi_from_urls"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Get DOI from URLs"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
prep = "colrev.packages.get_doi_from_urls.src.doi_from_urls_prep:DOIFromURLsPrep"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
