[project]
name = "colrev.ocrmypdf"
description = "CoLRev package for ocrmypdf"
version = "0.1.0"
license = "MIT"
authors = [
    "Gerit Wagner <gerit.wagner@uni-bamberg.de>"
]
requires-python = ">=3.8, <4"
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/ocrmypdf"

[tool.colrev]
colrev_doc_description = "OCRMyPDF"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points."colrev"]
pdf_prep = "colrev.packages.ocrmypdf.src.ocrmypdf:OCRMyPDF"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
