[project]
name = "colrev.get_masterdata_from_doi"
description = "CoLRev package for doi_metadata_prep"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/get_masterdata_from_doi"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Get Masterdata from DOI"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
prep = "colrev.packages.get_masterdata_from_doi.src.doi_metadata_prep:DOIMetadataPrep"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
