[project]
name = "colrev.remove_coverpage"
description = "CoLRev package for remove_coverpage"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/remove_coverpage"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Remove Cover Page"
search_types = []
colrev_doc_link = "README.md"

[project.entry-points.colrev]
pdf_prep = "colrev.packages.remove_coverpage.src.remove_cover_page:PDFCoverPage"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
