[project]
name = "colrev.google_scholar"
description = "CoLRev package for google_scholar"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/google_scholar"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "GoogleScholar"
colrev_doc_link = "README.md"
search_types = ["DB"]

[project.entry-points.colrev]
search_source = "colrev.packages.google_scholar.src.google_scholar:GoogleScholarSearchSource"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
