[project]
name = "colrev.umbrella"
description = "CoLRev package for umbrella_review"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/umbrella"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Umbrella Review"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
review_type = "colrev.packages.umbrella.src.umbrella_review:UmbrellaReview"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
