[MASTER]

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code
extension-pkg-whitelist=lxml.etree

[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable=C0116,R0914,W0511,R0902,C0115,C0114,R0912,R0915,E0239,R1702,R0903,R1733,W1203,W0703,C0302,R0904

# W0511 TODO

# E0239 inherit non-class
# W1203 use lazy formatting
# W0703 catching too general exception

# R1733 unnecessary dictionary lookup
# R0914 too many local variables
# R0902 too many instance attributes
# R0912 too many branches
# R0915 too many statements
# R1702 too many nested blocks
# R0903 too few public methods
# C0302 too many lines in module
# R0904 too many public methods

# C0116 missing function/method docstring
# C0115 missing class docstring
# C0114 missing module docstring


[TYPECHECK]
# Note : false positives for dataclass
ignored-classes=ReviewType,SearchType
