[tool.poetry]
name = "colrev"
version = "0.8.3"
description = "CoLRev: An open-source environment for collaborative reviews"
authors = ["Gerit Wagner <gerit.wagner@hec.ca>", "Julian Prester <julian.prester@sydney.edu.au>"]
license = "MIT"
readme = "README.md"
homepage="https://colrev.readthedocs.io/en/latest/"
repository = "https://github.com/CoLRev-Environment/colrev"
documentation = "https://colrev.readthedocs.io/en/latest/"
keywords = ["research", "reproducible research", "open science", "literature", "literature review", "systematic review", "systematic literature review"]
classifiers = [
   "Development Status :: 3 - Alpha",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Scientific/Engineering",
    "Operating System :: OS Independent",
    "Typing :: Typed",
]
include = ["CONTRIBUTING.md", "CHANGELOG.md", "LICENSE", "README.md", "colrev/py.typed"]

[tool.poetry.scripts]
colrev = "colrev.ui_cli.cli:main"
colrev-hooks-check = "colrev.hooks.check:main"
colrev-hooks-format = "colrev.hooks.format:main"
colrev-hooks-report = "colrev.hooks.report:main"
colrev-hooks-share = "colrev.hooks.share:main"

[tool.poetry.dependencies]
python = ">=3.8, <4"
alphabet-detector = "^0.0.7"
beautifulsoup4 = "^4.11.1"
click8 = "^8.0.1"
click_completion = "^0.5.2"
crossrefapi = "^1.5.0"
cx-Freeze = "^6.11.1"
dacite = "^1.6.0"
daff = "^1.3.46"
dedupe = "^2.0.20"
dictdiffer = "^0.9.0"
docker = "6.0.0"
GitPython= "^3.1.29"
lingua-language-detector = ">1.3"
lxml = "^4.9.1"
nameparser = "^1.1.2"
pandas = "^1.5.0"
pandasql = "^0.7.3"
"pdfminer.six" = "^20220524"
psutil = "^5.9.2"
pybtex = "^0.24.0"
PyPDF2 = "^1.28.6"
"python-Levenshtein" = "^0.12.2"
PyYAML = "^6.0.0"
requests = "^2.28.1"
requests-cache = "^0.9.6"
thefuzz = "^0.19.0"
tqdm = "^4.64.1"
transitions = "^0.8.11"
timeout-decorator = "^0.5.0"
"zope.interface" = "^5.5.0"
pycountry = "^22.3.5"
glom = "^22.1.0"
pre-commit = "^2.20.0"
Jinja2 = "^3.1.2"
dataclasses-jsonschema = "^2.15.3"
Flask = "^2.2.2"
Flask-Cors = "^3.0.10"
watchdog = "^2.2.1"
openpyxl = "^3.1.2"
pylint = "^2.17.2"
pymupdf = "^1.22.0"
imagehash = "^4.3.1"
defusedxml = "^0.7.1"
asreview = "^1.2"

[tool.poetry.group.docs.dependencies]
Sphinx = "^5.2.3"
sphinx-autodoc-typehints = "^1.19.4"
sphinx-click = "^4.3.0"
sphinx-rtd-theme = "^1.1.1"
"sphinxcontrib.datatemplates" = "^0.9.2"
sphinx_collapse = "^0.1.2"
repoze-sphinx-autointerface = "^1.0.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
coverage = "^6.5.0"
types-click = "^7.1.8"
pytest-mock = "^3.10.0"

[build-system]
requires = ["poetry>=1.2.0b1"]
build-backend = "poetry.core.masonry.api"
