coverage==4.5.4
pytest==6.2.4
Sphinx==4.5.0
sphinx_autodoc_typehints==1.18.1
sphinx_click==4.0.3
sphinx_rtd_theme==1.0.0
sphinxcontrib-bibtex==2.4.2
tox==3.14.0
twine==1.14.0
versioneer==0.20
wheel==0.36.2
