[project]
name = "colrev.open_library"
description = "CoLRev package for open_library"
version = "0.1.0"
license = "MIT"
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/open_library"

[tool.colrev]
dev_status = "experimental"
colrev_doc_link = "README.md"
search_source = "colrev.packages.open_library.src.open_library:OpenLibrarySearchSource"
prep = "colrev.packages.open_library.src.open_library_prep:OpenLibraryMetadataPrep"
