[project]
name = "colrev.semanticscholar"
description = "CoLRev package for semanticscholar"
version = "0.1.0"
license = "MIT"
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" },
    { name = "Louis Langenhan" },
    { name = "Peter Eckhardt" },
    { name = "Amadou-Choumoussidine Kouotou-Ngapout" },
    { name = "Robert Theis" }
]
requires-python = ">=3.8, <4"
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/semanticscholar"
semanticscholar = "^0.6.0"

[[tool.poetry.packages]]
include = "src"

[tool.colrev]
colrev_doc_description = "Semantic Scholar API"
colrev_doc_link = "README.md"
search_types = ["API"]

[project.entry-points."colrev"]
search_source = "colrev.packages.semanticscholar.src.semanticscholar_search_source:SemanticScholarSearchSource"
prep = "colrev.packages.semanticscholar.src.semantic_scholar_prep:SemanticScholarPrep"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
