[project]
name = "colrev.colrev_project"
description = "CoLRev package for colrev_project"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"
dependencies = [
    "pandasql>=0.7.3"
]

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/colrev_project"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "CoLRev projects"
colrev_doc_link = "README.md"
search_types = ["API"]

[project.entry-points.colrev]
search_source = "colrev.packages.colrev_project.src.colrev_project:ColrevProjectSearchSource"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
