[project]
name = "colrev.eric"
description = "CoLRev package for eric"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Rhea Nguyen" },
    { name = "Malou Schmidt" },
    { name = "Frederic Fischer" },
    { name = "Janus Fiegen" },
    { name = "Albert Borchardt" },
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" },
]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/eric"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "ERIC API"
colrev_doc_link = "README.md"
search_types = ["API"]

[project.entry-points.colrev]
search_source = "colrev.packages.eric.src.eric:ERICSearchSource"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
