[project]
name = "colrev.source_specific_prep"
description = "CoLRev package for source_specific_prep"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/source_specific_prep"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Source-specific Prep"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
prep = "colrev.packages.source_specific_prep.src.source_specific_prep:SourceSpecificPrep"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
