[project]
name = "colrev.prep_man_curation_jupyter"
description = "CoLRev package for curation_jupyter_prep_man"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/prep_man_curation_jupyter"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Prep-man Jupyter Notebook"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
prep_man = "colrev.packages.prep_man_curation_jupyter.src.curation_jupyter_prep_man:CurationJupyterNotebookManPrep"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
