[project]
name = "colrev.bibliography_export"
description = "CoLRev package for bibliography_export"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"
dependencies = [
    "XlsxWriter"
]

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/bibliography_export"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Bibliography export"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
data = "colrev.packages.bibliography_export.src.bibliography_export:BibliographyExport"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
