[project]
name = "colrev.bibliography_export"
description = "CoLRev package for bibliography_export"
version = "0.1.0"
license = "MIT"
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
]
documentation = "README.md"
colrev_doc_link = "README.md"

[tool.colrev]
dev_status = "experimental"
data = "colrev.packages.bibliography_export.src.bibliography_export:BibliographyExport"
