[project]
name = "colrev.springer_link"
description = "CoLRev package for springer_link"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/springer_link"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Springer Link"
colrev_doc_link = "README.md"
search_types = ["DB", "API"]

[project.entry-points.colrev]
search_source = "colrev.packages.springer_link.src.springer_link:SpringerLinkSearchSource"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
