[tool.poetry]
name = "colrev.plos"
description = ""
version = "0.1.0"
license = "MIT"
authors = ["olgagirona <olga.girona-cutillas@stud.uni-bamberg.de>"]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/"

[[tool.poetry.packages]]
include = "src"

[tool.poetry.dependencies]
python = ">=3.9, <4"

[tool.colrev]
colrev_doc_description = "TODO"
colrev_doc_link = "docs/README.md"
search_types = []

[tool.poetry.plugins.colrev]
search_source = "colrev.plos.plos_search_source:PlosSearchSource"

[build-system]
requires = ["poetry-core>=1.0.0", "cython<3.0"]
build-backend = "poetry.core.masonry.api"