[project]
name = "colrev.abi_inform_proquest"
description = "CoLRev package for abi_inform_proquest"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/abi_inform_proquest"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "ABI/INFORM (ProQuest)"
colrev_doc_link = "README.md"
search_types = ["DB"]

[project.entry-points.colrev]
search_source = "colrev.packages.abi_inform_proquest.src.abi_inform_proquest:ABIInformProQuestSearchSource"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
