[project]
name = "colrev.scientometric"
description = "CoLRev package for scientometric"
version = "0.1.0"
license = "MIT"
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
]
documentation = "README.md"
colrev_doc_link = "README.md"

[tool.colrev]
dev_status = "experimental"
review_type = "colrev.packages.scientometric.src.scientometric:ScientometricReview"
