[project]
name = "colrev.colrev_cli_pdf_get_man"
description = "CoLRev package for pdf_get_man_cli"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/colrev_cli_pdf_get_man"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Get PDFs Manually (CLI)"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
pdf_get_man = "colrev.packages.colrev_cli_pdf_get_man.src.pdf_get_man_cli:CoLRevCLIPDFGetMan"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
