[project]
name = "colrev.pubmed"
description = "CoLRev package for pubmed"
version = "0.1.0"
license = "MIT"
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/pubmed"

[tool.colrev]
colrev_doc_description = "Pubmed"
colrev_doc_link = "README.md"
search_types = ["DB", "API", "MD"]

[project.entry-points."colrev"]
search_source = "colrev.packages.pubmed.src.pubmed:PubMedSearchSource"
prep = "colrev.packages.pubmed.src.pubmed_metadata_prep:PubmedMetadataPrep"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
