[project]
name = "colrev.cli_prep_man"
description = "CLI package for manual meta-data preparation"
version = "0.1.0"
license = "MIT"
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "TODO"
colrev_doc_link = "docs/README.md"
search_types = []

[project.entry-points.colrev]
prep_man = "colrev.packages.cli_prep_man.src.cli_prep_man_prep_man:CliPrepMan"

[project.scripts]
colrev_cli_prep_man = "colrev.packages.cli_prep_man.src.cli_prep_man_prep_man:main"

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"
