[project]
name = "colrev.curated_masterdata"
description = "CoLRev package for curated_masterdata"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/curated_masterdata"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Curated masterdata"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
review_type = "colrev.packages.curated_masterdata.src.curated_masterdata:CuratedMasterdata"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
