[project]
name = "colrev.exclude_complementary_materials"
description = "CoLRev package for exclude_complementary_materials"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/exclude_complementary_materials"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Exclude Complementary Materials"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
prep = "colrev.packages.exclude_complementary_materials.src.exclude_complementary_materials:ExcludeComplementaryMaterialsPrep"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
