[project]
name = "colrev.remove_broken_ids"
description = "CoLRev package for remove_broken_ids"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/remove_broken_ids"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Remove Broken IDs"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
prep = "colrev.packages.remove_broken_ids.src.remove_broken_ids:RemoveBrokenIDPrep"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
