:root{
    --white-background: white;
}
body {
    font-family: "Lato", sans-serif;
}


.header{
    display: flex;
    align-items: center;
    background-color: var(--white-background);
}

.logo {
    max-width: 20%;
}


.flexboxtable{
    display: flex;
    
    background-color: var(--white-background);
}

.options{
    position:relative;
    left: 80vw;
    text-transform:uppercase;
}

#search{
    border-radius: 3px;
    height: 30px;
    width: 298px;
    padding: 0;
    border: 1;
    border-color: lightgrey;
    color: grey;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
    border-width: thin;
}

#sortby{
    border-radius: 3px;
    height: 30px;
    width: 300px;
    padding: 0;
    border: 1;
    border-color: lightgrey;
    color: grey;
    text-transform:uppercase;
    font-size: 16px;
    border-width: thin;
    
}

#headline{
    font-size:20px;
}


#table {
    background-color:var(--white-background);
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: "Lato", sans-serif;
    
}



