[project]
name = "colrev.crossref"
description = "Crossref package for CoLRev"
version = "0.1.0"
license = "MIT"
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/crossref"

[tool.colrev]
colrev_doc_description = "Crossref API"
colrev_doc_link = "README.md"
search_types = ["API", "TOC", "MD"]

[project.entry-points."colrev"]
search_source = "colrev.packages.crossref.src.crossref_search_source:CrossrefSearchSource"
prep = "colrev.packages.crossref.src.crossref_prep:CrossrefMetadataPrep"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
