[project]
name = "colrev.local_index"
description = "CoLRev package for local_index"
version = "0.1.0"
license = "MIT"
authors = [
    "Gerit Wagner <gerit.wagner@uni-bamberg.de>"
]
requires-python = ">=3.8, <4"
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/local_index"

[tool.colrev]
colrev_doc_description = "LocalIndex"
colrev_doc_link = "README.md"
search_types = ["API", "MD"]

[project.entry-points."colrev"]
search_source = "colrev.packages.local_index.src.local_index:LocalIndexSearchSource"
prep = "colrev.packages.local_index.src.local_index_prep:LocalIndexPrep"
pdf_get = "colrev.packages.local_index.src.local_index_pdf_get:LocalIndexPDFGet"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
