[project]
name = "colrev.exclude_non_latin_alphabets"
description = "CoLRev package for exclude_non_latin_alphabets"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"
dependencies = [
    "alphabet-detector>=0.0.7"
]

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/exclude_non_latin_alphabets"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Exclude Non-Latin Alphabets"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
prep = "colrev.packages.exclude_non_latin_alphabets.src.exclude_non_latin_alphabets:ExcludeNonLatinAlphabetsPrep"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
