[project]
name = "colrev.obsidian"
description = "CoLRev package for obsidian"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/obsidian"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Obsidian"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
data = "colrev.packages.obsidian.src.obsidian:Obsidian"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
