[project]
name = "colrev.curation_full_outlet_dedupe"
description = "CoLRev package for curation_dedupe"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/curation_full_outlet_dedupe"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Curation full outlet dedupe"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
dedupe = "colrev.packages.curation_full_outlet_dedupe.src.curation_dedupe:CurationDedupe"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
