[tool.poetry]
name = "colrev.dedupe"
description = "CoLRev package for dedupe"
version = "0.1.0"
license = "MIT"
authors = [
    "Gerit Wagner <gerit.wagner@uni-bamberg.de>"
]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/dedupe"

[[tool.poetry.packages]]
include = "src"

[tool.poetry.dependencies]
python = ">=3.8, <4"

[tool.colrev]
colrev_doc_description = "Dedupe (BibDedupe)"
colrev_doc_link = "README.md"
search_types = []

[tool.poetry.plugins.colrev]
dedupe = "colrev.packages.dedupe.src.dedupe:Dedupe"

[build-system]
requires = ["poetry-core>=1.0.0", "cython<3.0"]
build-backend = "poetry.core.masonry.api"
