[project]
name = "colrev.colrev_curation"
description = "CoLRev package for colrev_curation"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/colrev_curation"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "CoLRev Curations"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
data = "colrev.packages.colrev_curation.src.colrev_curation:ColrevCuration"
prep = "colrev.packages.colrev_curation.src.curation_prep:CurationPrep"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
