[project]
name = "colrev.download_from_website"
description = "CoLRev package for download_from_website"
version = "0.1.0"
license = "MIT"
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/download_from_website"
beautifulsoup4 = "^4.11.1"

[[tool.poetry.packages]]
include = "src"

[tool.colrev]
colrev_doc_description = "Download PDF from website"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points."colrev"]
pdf_get = "colrev.packages.download_from_website.src.download_from_website:WebsiteDownload"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
