[project]
name = "colrev.curation_missing_dedupe"
description = "CoLRev package for curation_missing_dedupe"
version = "0.1.0"
license = "MIT"
authors = [
    "Gerit Wagner <gerit.wagner@uni-bamberg.de>"
]
requires-python = ">=3.8, <4"
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/curation_missing_dedupe"

[tool.colrev]
colrev_doc_description = "Curation missing dedupe"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points."colrev"]
dedupe = "colrev.packages.curation_missing_dedupe.src.curation_missing_dedupe:CurationMissingDedupe"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
