[project]
name = "colrev.github"
description = "CoLRev package for GitHub"
version = "0.1.1"
license = "MIT"
authors = [
    "Kolja Rinne <kolja.rinne@stud.uni-bamberg.de>",
    "Philipp Kasimir <philipp-william.kasimir@stud.uni-bamberg.de>",
    "Chris Vierath <chris-norman.vierath@stud.uni-bamberg.de>",
    "Karl Schnickmann <karl.schnickmann@stud.uni-bamberg.de>"
]
requires-python = ">=3.8, <4"
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/github"
PyGithub = "^2.3.0"
click = "^8.1.6"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "GitHub API"
colrev_doc_link = "README.md"
search_types = ["API"]

[project.entry-points."colrev"]
search_source = "colrev.packages.github.src.github_search_source:GitHubSearchSource"
prep = "colrev.packages.github.src.github_prep:GithubMetadataPrep"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
