[project]
name = "colrev.toc_sync"
description = "Syncs tables of contents (toc) from APIs like Crossref, updating Markdown files."
version = "0.1.0"
license = "MIT"
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "TODO"
colrev_doc_link = "docs/README.md"
search_types = []


[project.entry-points.colrev]

[project.scripts]
toc-sync = "colrev.packages.toc_sync.src.toc_sync:main"


[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
