[project]
name = "colrev.osf"
description = "CoLRev package for osf"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Peiyao Mao", email = "peiyao.mao@stud.uni-bamberg.de" },
    { name = "Mingxin Jiang", email = "mingxin.jiang@stud.uni-bamberg.de" },
    { name = "Johannes Maximilian Diel", email = "jm_diel@stud.uni-bamberg.de" },
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" },
]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/osf"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "OSF"
colrev_doc_link = "README.md"
search_types = ["API"]

[project.entry-points.colrev]
search_source = "colrev.packages.osf.src.osf:OSFSearchSource"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
