[project]
name = "colrev.export_man_prep"
description = "CoLRev package for export_man_prep"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/export_man_prep"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Export Man Prep"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
prep_man = "colrev.packages.export_man_prep.src.prep_man_export:ExportManPrep"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
