[project]
name = "colrev.structured"
description = "CoLRev package for structured"
version = "0.1.0"
license = "MIT"
authors = [
    "Gerit Wagner <gerit.wagner@uni-bamberg.de>"
]
requires-python = ">=3.8, <4"
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/structured"

[tool.colrev]
colrev_doc_description = "Structured Data Extraction"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points."colrev"]
data = "colrev.packages.structured.src.structured:StructuredData"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
