[project]
name = "colrev.colrev_cli_prescreen"
description = "CoLRev package for colrev_cli_prescreen"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/colrev_cli_prescreen"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Prescreen (CLI)"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
prescreen = "colrev.packages.colrev_cli_prescreen.src.prescreen_cli:CoLRevCLIPrescreen"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
