[project]
name = "colrev.profile"
description = "CoLRev package for creating profiles"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/profile"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Profile of the Sample"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
data = "colrev.packages.profile.src.profile:Profile"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
