[project]
name = "colrev.paper_md"
description = "CoLRev package for paper_md"
version = "0.1.0"
license = {text = "MIT"}
authors = [
    { name = "Gerit Wagner", email = "gerit.wagner@uni-bamberg.de" }
 ]
requires-python = ">=3.8, <4"

[project.urls]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/paper_md"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.colrev]
colrev_doc_description = "Paper (Markdown)"
colrev_doc_link = "README.md"
search_types = []

[project.entry-points.colrev]
data = "colrev.packages.paper_md.src.paper_md:PaperMarkdown"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
