[tool.poetry]
name = "colrev.paper_md"
description = "CoLRev package for paper_md"
version = "0.1.0"
license = "MIT"
authors = [
    "Gerit Wagner <gerit.wagner@uni-bamberg.de>"
]
repository = "https://github.com/CoLRev-Environment/colrev/tree/main/colrev/packages/paper_md"

[[tool.poetry.packages]]
include = "src"

[tool.poetry.dependencies]
python = ">=3.8, <4"

[tool.colrev]
dev_status = "maturing"
documentation = "README.md"
colrev_doc_link = "README.md"

[tool.poetry.plugins.colrev]
data = "colrev.packages.paper_md.src.paper_md:PaperMarkdown"

[build-system]
requires = ["poetry-core>=1.0.0", "cython<3.0"]
build-backend = "poetry.core.masonry.api"
